<h2>Listing autors</h2>

<table class="table">
  <thead>
    <tr>
      <th>Name</th>
      <th>Bio</th>

      <th></th>
    </tr>
  </thead>
  <tbody>
<%= for autor <- @autors do %>
    <tr>
      <td><%= autor.name %></td>
      <td><%= autor.bio %></td>

      <td class="text-right">
        <%= link "Show", to: autor_path(@conn, :show, autor), class: "btn btn-default btn-xs" %>
        <%= link "Edit", to: autor_path(@conn, :edit, autor), class: "btn btn-default btn-xs" %>
        <%= link "Delete", to: autor_path(@conn, :delete, autor), method: :delete, data: [confirm: "Are you sure?"], class: "btn btn-danger btn-xs" %>
      </td>
    </tr>
<% end %>
  </tbody>
</table>

<%= link "New autor", to: autor_path(@conn, :new) %>
