<h2>Show autor</h2>

<ul>

  <li>
    <strong>Name:</strong>
    <%= @autor.name %>
  </li>

  <li>
    <strong>Bio:</strong>
    <%= @autor.bio %>
  </li>

</ul>

<%= link "Edit", to: autor_path(@conn, :edit, @autor) %>
<%= link "Back", to: autor_path(@conn, :index) %>
